@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;

    /* font */
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: #27282c;
    /* transform: translateX(-50%); */
    transition: 0.5s;

  }
.button
{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
  /* faont */
  position: relative;
  background-color: #444;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  /* letter-spacing: 0.1rem; */
  /* padding: 10px 30px; */
  transition: 0.5s;
  border-color: var(--clr);
  /* box-shadow: 0 0 35px var(--clr); */
}
button:hover
{
  letter-spacing: 0.50rem;
    /* background-color: var(--clr);
    color: var(--clr);*/
    border-color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}
button::before
{
  /* content: ''; */
  position: absolute;
  inset:2px;
  /* background:#27282c; */
  background-color: rgb(5, 28, 238);
 
}
.row{
  margin: 8px 0;
}
.row input{
  width: 291px;
  font-size: 20px;
  margin: 0;
  padding: 10px 0px;
  border: 2px solid black;
  border-radius: 5px;
  /* font */
  position: relative;
  background-color: #444;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  /* letter-spacing: 0.1rem; */
  /* padding: 10px 30px; */
  transition: 0.5s;
  border-color: var(--clr);
}

