.text-center
{
  text-align: center;
  color: whitesmoke;
  border-color: var(--clr);
}
.mx-auto{
  margin: auto;
}
.bg-red
{
  /* background: red; */
  border-color: var(--clr);
}
/* div{
  display: block;
} */
.m-w-20{
  max-width: 20vw;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.items-center{
    align-items: center;
    position: relative;
    inset: 0;
    display: block;
    
}

